<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ESAB Library SYSTEM</title>
</head>
<body>
    <h2 style="color:black">ESAB Library System</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<img id="logo"  src="../static/add.png" alt="esab logo">
		<form action="#">
			<h1>User</h1>
			<a class="action-button" href="{{ url_for('user_qrscan_info') }}">Information</a>
            <a class="action-button" href="{{ url_for('user_qrscan_borrow') }}">Borrowing</a>
            <a class="action-button" href="{{ url_for('user_qrscan_return') }}">Returning</a>
		</form>
	</div>
	<div class="form-container sign-in-container"">
		<img id="logo"  src="../static/add.png" alt="esab logo">

		
		<form style="color:black" name="login" action="{{ url_for('login') }}" method="POST">
			<h1>Admin</h1>
			<span>Type Admin login</span>
			{{ form.csrf_token }}
    		{{ form.username.label }} {{ form.username(size=20) }}
			{{ form.password.label }} {{ form.password(size=20) }}
			<button type="submit">Sign In</button>
		</form>


	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Are You Admin?</h1>
				<h4>Click Below to Login Admin Database</h4>
				<p>Click below</p>
				<button class="ghost" id="signIn">Admin</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Are You A User?</h1>
				<h4>Want to borrow books? Want to return your books?</h4>
				<p>Click below</p>
				<button class="ghost" id="signUp">User</button>
			</div>
		</div>
	</div>
</div>
    <script src="../static/index.js"></script>
</body>
</html>
